<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum filmowe</title>

    <script src="{% static 'src/scripts/_base.js' %}"></script>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>

<body>
    <div class="flex flex-col min-h-screen bg-white dark:bg-gray-900">
        <div class="flex grow">
            {% include 'navbar.html' %}
            {% include 'sidebar.html' %}

            <div class="flex items-center justify-center container mx-auto mt-20">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>

</html>