<footer
    class="z-20 w-full p-4 bg-white border-t border-gray-200 shadow flex items-center justify-between dark:bg-gray-800 dark:border-gray-600">
    <span class="text-sm text-gray-500 text-center dark:text-gray-400">Forum filmowe
    </span>
    <ul class="flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400">
        <li>
            <a href="#" class="hover:underline me-4">O nas</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Kontakt</a>
        </li>
    </ul>
</footer>