{% load static %}

<button id="hide-sidebar-btn" type="button" data-drawer-target="drawer-body-scrolling"
    data-drawer-toggle="drawer-body-scrolling" data-drawer-body-scrolling="true" aria-controls="drawer-body-scrolling"
    data-drawer-backdrop="false" onclick="translateButton()"
    class="z-50 fixed top-1/2 bg-blue-700 text-white w-6 h-6 rounded flex items-center justify-center transition-transform">
    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
        <path id="arrow-path" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
    </svg>
</button>

<div id="drawer-body-scrolling"
    class="flex flex-col fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-gray-50 w-64 dark:bg-gray-800"
    tabindex="-1" aria-labelledby="drawer-body-scrolling-label">
    <h5 id="drawer-body-scrolling-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Menu
    </h5>
    <div class="grow py-4 overflow-y-auto">
        <ul class="space-y-2 font-medium">
            <li>
                <a href="{% url 'forum_filmowe:add_post' %}"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 1v16M1 9h16" />
                    </svg>
                    <span class="ms-3">Dodaj wpis</span>
                </a>
            </li>
        </ul>
    </div>
    {% if user.is_authenticated %}
    <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-700">
        <li>
            <a href="{% url 'logout' %}"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 18 15">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 7.5h11m0 0L8 3.786M12 7.5l-4 3.714M12 1h3c.53 0 1.04.196 1.414.544.375.348.586.82.586 1.313v9.286c0 .492-.21.965-.586 1.313A2.081 2.081 0 0 1 15 14h-3" />
                </svg>
                <span class="ms-3">Wyloguj</span>
            </a>
        </li>
    </ul>
    {% endif %}
</div>

<script src="{% static 'src/scripts/sidebar.js' %}"></script>